body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .join {
    padding: 0;
    margin: 0;
  }
  
  .joinInnerContainer {
    width: 30%;
    height: 50%;
    margin-left: 33%;
    margin-top: 10%;
  
    background-color: rgb(101, 127, 151);
    border-radius: 10px;
    box-shadow: 0px 0px 10px #666;
    text-align: center;
  }
  .heading {
    font-size: 4.9rem;
    color: rgb(252, 156, 228);
    border-bottom: 3px solid rgb(172, 30, 136);
  }
  .joinInput {
    width: 90%;
    padding: 10px;
    border: none;
    border-radius: 15px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px rgba(175, 16, 140, 0.356);
    background-color: rgb(255, 255, 255);
  }
  .button {
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(139, 20, 110);
    padding: 3%;
    padding-left: 10%;
    padding-right: 10%;
    color: rgb(208, 209, 255);
    margin-bottom: 2%;
  }
  .button:hover {
    background-color: blueviolet;
  }
  